@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (var pokemon in Model.PokemonResults)
    {
        @* var id = pokemon.Url.Split('/').Where(part => !string.IsNullOrEmpty(part)).Last(); *@
        <div class="card">
            <a href="/details/@pokemon.name">
                <div class="card-body">
                    <h5 class="card-title">@pokemon.name</h5>
                </div>
            </a>
        </div>
    }
</div>
